<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="include :: header"></head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <!-- Main Header -->
    <div th:include="mainTemp :: mainHeader"></div>
    <!-- Left side column. contains the logo and sidebar -->
    <div th:include="mainTemp :: menu('2112')"></div>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" id="vueApp" >

        <div class="row">
            <div class="col-md-12" style="padding-left: 30px;padding-right: 30px;padding-top: 10px;padding-bottom: 2px;">
                <div class="box box-primary" style="margin-bottom: 15px">
                    <div class="box-body box-profile" style="height: 122px">
                        <div class="x_content">
                            <el-form :inline="true" ref="userform" :model="userform" data-parsley-validate class="form-horizontal form-label-left">
                                <el-row>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-12 col-xs-12" style="font-size: 14px;">姓名:</span>
                                            </label>
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <el-input v-model="userform.custname" id="custname"></el-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-12 col-xs-12" style="font-size: 14px;">学/工号:</span>
                                            </label>
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <el-input v-model="userform.stuempno" id="stuempno"></el-input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-12 col-xs-12" style="font-size: 14px;">日期:</span>
                                            </label>
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <el-date-picker style="width:150px;"
                                                                v-model="userform.tdate" type="date" :editable="false"
                                                                placeholder="选择日期"  value-format="yyyyMMdd">
                                                </el-date-picker>
                                            </div>
                                        </div>
                                    </div>

                                </el-row>
                                <el-row>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label col-md-4 col-sm-12 col-xs-12" style="font-size: 14px;">体温:</span>
                                            </label>
                                            <div class="col-md-8 col-sm-12 col-xs-12">
                                                <el-input v-model="userform.btemp" placeholder="最低温度" style="width:77px;"></el-input>
                                                --
                                                <el-input v-model="userform.etemp" placeholder="最高温度" style="width:77px;"></el-input>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-1">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-info" style="padding-top: 8px;padding-bottom: 8px;width: 82px" @click="query" id="qrybtn">查 询</button>
                                        </div>
                                    </div>
                                </el-row>
                            </el-form>

                            <div class="ln_solid"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12" style="padding-left: 30px;padding-right: 30px">
                <div class="box box-primary" style="margin-bottom: 15px">
                    <div class="box-body box-profile">
                        <template>
                            <el-table
                                    ref="singleTable"
                                    :data="tableData"
                                    highlight-current-row
                                    @current-change="currRowChange"
                                    stripe
                                    border>
                                <el-table-column
                                        prop="stuempno"
                                        label="学/工号"
                                        width="150"
                                        align="center"
                                        v-show="false">
                                </el-table-column>
                                <el-table-column
                                        prop="custname"
                                        label="名称"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        prop="devicename"
                                        label="设备名称"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        prop="transdate"
                                        label="日期"
                                        width="120"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        prop="transtime"
                                        label="时间"
                                        width="120"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        prop="ivtypename"
                                        label="认证类型"
                                        width="120"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        prop="temperature"
                                        label="温度"
                                        width="120"
                                        align="center">
                                </el-table-column>
                                <el-table-column
                                        prop="inout"
                                        label="标志"
                                        width="80"
                                        align="center">
                                    <template scope="scope">
                                        <span v-if="scope.row.inout=== '1'" >进</span>
                                        <span v-if="scope.row.inout=== '2'" >出</span>
                                        <span v-if="scope.row.inout=== '3'" >不区分</span>
                                    </template>
                                </el-table-column>
                                <el-table-column
                                        prop="status"
                                        label="状态"
                                        width="80"
                                        align="center">
                                    <template scope="scope">
                                        <span v-if="scope.row.status=== '1'" >有效</span>
                                        <span v-if="scope.row.status=== '2'" >无效</span>
                                    </template>
                                </el-table-column>
                            </el-table>
                            <div class="clearfix"></div>
                            <el-pagination
                                    background
                                    @size-change="handleSizeChange"
                                    @current-change="currPageChange"
                                    :current-page="currPage"
                                    :page-sizes="[10, 20, 50, 100]"
                                    :page-size="pageSize"
                                    layout="prev, pager, next,sizes, jumper,total"
                                    :total="totSize">
                            </el-pagination>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <div th:include="mainTemp :: bootom"></div>

</div>
<!-- ./wrapper -->
</body>
<div th:include="include :: footer"></div>
<script th:inline="javascript">

    var cxt = [[${#httpServletRequest.getContextPath()}]];
    var vue = new Vue({
        el:'#vueApp',
        data:{
            tableData:[],
            currPage:1,
            pageSize:20,
            totSize:0,
            currentRow:null,
            userform:{
                custname:'',
                stuempno:'',
                btemp:35,
                etemp:38,
                tdate:''
            },
            slist:[{
                value:'1',
                label:'有效'
            },{
                value:'0',
                label:'无效'
            }],
            rlist:[],
        },
        methods:{
            handleSizeChange:function(val) {
                //	$(".el-table").attr("height");
                this.pageSize=val;
                commonQuery(this,this.userform.tdate,this.userform.btemp,this.userform.etemp,this.userform.custname,this.userform.stuempno,this.currPage,val);
                //console.log('每页条'+val);
            },
            currPageChange:function(val) {
                this.currPage=val;
                commonQuery(this,this.userform.tdate,this.userform.btemp,this.userform.etemp,this.userform.custname,this.userform.stuempno,this.currPage,this.pageSize);
                //console.log('当前页:'+val);
            },
            currRowChange:function(val) {
                this.currentRow = val;
            },
            query:function () {
                this.pagesize=10;
                this.currPage=1;
                commonQuery(this,this.userform.tdate,this.userform.btemp,this.userform.etemp,this.userform.custname,this.userform.stuempno,this.currPage,this.pageSize);
                //console.log(this.currentRow);
            },
            resetForm:function (formName) {
                this.userUserform.loginnname='';
                this.$refs[formName].resetFields();
                this.dialogFormVisible = false;

            },
        },
        created:function () {
            var custname=this.userform.custname;
            var stuempno=this.userform.stuempno;
            var bdate = this.userform.tdate;
            var btemp = this.userform.btemp;
            var etemp = this.userform.etemp;
            commonQuery(this,bdate,btemp,etemp,custname,stuempno,1,10);
        }

    })
    
    
    function commonQuery(_self,bdate,btemp,etemp,custname,stuempno,pageno,pagesize) {
        $.ajax({
            type:"get",
            dataType:"json",
            url:encodeURI(cxt+"/acc/getDtlList?custname="+custname+
                "&bdate="+bdate+"&btemp="+btemp+"&etemp="+etemp+
                "&stuempno="+stuempno+"&pageNo="+pageno+"&pageSize="+pagesize),
            success:function (info) {
                _self.totSize=info.PageResult.total;
                _self.tableData=info.PageResult.list;
            }
        })
    }

    function deletedata(id){
        layer.confirm('是否删除该用户?',{icon:3,title:'请确认'},function (index) {
            $.ajax({
                type:"get",
                dataType:"json",
                url:cxt+"/acc/deleteCust?ids="+id,
                success:function (info) {
                    if (info.okFlag ==undefined){
                        layer.msg('用户认证已过期，请重新登录', {icon:2,time:1000});
                        window.location="login";
                        return;
                    }
                    if (info.okFlag !=1){
                        layer.msg(info.message,{icon:2,time:1000});
                    } else {
                        layer.msg('删除用户成功', {icon: 1,time:1000});
                        refreshThisTable();
                    }
                }
            })
        })
    }

    function refreshThisTable() {
        $("#qrybtn").click();
    }

    function getFillData(_self,id) {
        $.ajax({
           type:"get",
           dataType:"json",
           url:encodeURI(cxt+"/user/showUserForm?ids="+id),
           success:function (info) {
               var rolelist = [];
               var role = info.roleList;
               for (var i=0;i<role.length;i++){
                   rolelist.push({
                       value:role[i].ids,
                       label:role[i].roleName
                   });
               }
               if (info.user!=null){
                   _self.userUserform=info.user;
               }
               _self.rlist=rolelist;

           }
        });
    }
</script>
</html>