<!DOCTYPE html>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>校园数据运营中心</title>
    <meta name="keywords" content="keywords">
    <meta name="description" content="校园数据运营中心">
    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}" />
    <!-- Favicon -->
    <link href="bootstrap/css/bootstrap.css" th:href="@{bootstrap/css/bootstrap.css}" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" th:href="@{font-awesome/css/font-awesome.css}" rel="stylesheet">
    <link href="css/animations.css" th:href="@{css/animations.css}" rel="stylesheet">
    <link href="css/content1.0.css" th:href="@{css/content1.0.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{plugins/jquery.min.js}" src="plugins/jquery.min.js"></script>
    <!--<script type="text/javascript"  th:href="@{js/times.js}" src="js/times.js"></script>-->

</head>

<body>
    <!-- banner start -->
    <div class="banner-caption clearfix">
        <div id="title">
            <div class="caption-title clearfix" style="max-width:925px;">
                <i class="title-left"><img src="images/title-left.png" ></i>
                <p class="title-left-title-font">校园卡运营数据中心</p>
                <i class="title-left"><img src="images/title-right.png" ></i>
            </div>
            <!--<div class="title-date" style="height: 40px;">-->
                <!--<p id="DateTime" style="height: 40px;text-align: center;">实时数据</p>-->
            <!--</div>-->
        </div>
        <div id="main">
            <div class="col-md-12">
                <div class="row">
                    <div id="left_title" class="col-xs-12 col-sm-12 col-md-3">

                        <!--当日数据展示-->
                        <div class="data-box1" id="box_dayData">
                            <i class="topL"></i>
                            <i class="topR"></i>
                            <i class="bottomL"></i>
                            <i class="bottomR"></i>
                            <div class="data-title">
                                <b class="data-title-left">[</b>
                                <span>今日交易数据</span>
                                <b class="data-title-right">]</b>
                            </div>
                            <div class="box-echart" style="height: 160px;">
                            <div class="total-mn">

                                <ul class="live-box" id="day-recharge">
                                    <li style="margin-right: 2%;">
                                        <p style="text-align: center;font-size: 14px;margin-bottom: 20px;">充值金额</p>
                                        <p class="live-box-font1" style="text-align: center">
                                            <span style="font-size: 3rem;" th:text="${dayRecharge.amt}" id="reamt">549462</span>元
                                        </p>
                                    </li>
                                    <li>
                                        <p style="text-align: center;font-size: 14px;margin-bottom: 20px;">充值笔数</p>
                                        <p class="live-box-font1" style="text-align: center">
                                            <span style="font-size: 3rem;" th:text="${dayRecharge.cnt}" id="recnt">80%</span>
                                        </p>
                                    </li>
                                </ul>
                                <ul class="live-box" id="day-pay">
                                    <li style="margin-right: 2%;">
                                        <p style="text-align: center;font-size: 14px;margin-bottom: 20px;">消费金额</p>
                                        <p class="live-box-font1" style="text-align: center">
                                            <span style="font-size: 3rem;" th:text="${dayPay.amt}" id="payamt">549462</span>元
                                        </p>
                                    </li>
                                    <li>
                                        <p style="text-align: center;font-size: 14px;margin-bottom: 20px;">消费笔数</p>
                                        <p class="live-box-font1" style="text-align: center">
                                            <span style="font-size: 3rem;" th:text="${dayPay.cnt}" id="paycnt">80%</span>
                                        </p>
                                    </li>
                                </ul>

                            </div>
                            </div>
                        </div>

                        <!--当日数据分析-->
                        <div class="data-box1 clearfix" id="box_dataAnalyse" style="margin-top: 30px;">
                            <i class="topL"></i>
                            <i class="topR"></i>
                            <i class="bottomL"></i>
                            <i class="bottomR"></i>
                            <div class="data-title" style="width: 220px;">
                                <b class="data-title-left">[</b>
                                <span>今日消费人群分析</span>
                                <b class="data-title-right">]</b>
                            </div>
                            <div >
                                <div id="dayCustTypeAnalyse" class="box-echart box-bottom">
                                </div>
                            </div>
                        </div>

                        <!--当日消费排行榜-->
                        <div class="data-box1 clearfix" id="box_shopTop5" style="margin-top: 30px;">
                            <i class="topL"></i>
                            <i class="topR"></i>
                            <i class="bottomL"></i>
                            <i class="bottomR"></i>
                            <div class="data-title" style="width: 220px">
                                <b class="data-title-left">[</b>
                                <span>消费人次分时趋势</span>
                                <b class="data-title-right">]</b>
                            </div>
                            <div >
                                <div id="dayAnalyse10Min" class="box-echart box-bottom">
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="center-title" class="col-xs-12 col-sm-12 col-md-6 panel-top panel-bottom">
                        <div class="data-box1 box1-back" id="box02" style="height: auto">
                            <i class="topL"></i>
                            <i class="topR"></i>
                            <i class="bottomL"></i>
                            <i class="bottomR"></i>
                            <div class="data-title" style="width: 280px">
                                <b class="data-title-left">[</b>
                                <span>近一个月充值、消费走势</span>
                                <b class="data-title-right">]</b>
                            </div>
                            <div id="inOutAnalyse" class="box-echart" style="height: 330px;"></div>
                        </div>
                        <div class="data-box1" id="box9-box" style="margin-top: 30px;">
                            <i class="topL"></i>
                            <i class="topR"></i>
                            <i class="bottomL"></i>
                            <i class="bottomR"></i>
                            <div class="data-title" style="width: 270px">
                                <b class="data-title-left">[</b>
                                <span>近一个月分餐消费走势</span>
                                <b class="data-title-right">]</b>
                            </div>
                            <div id="mealAnalyse" class="box-echart" style="height: 330px;"></div>

                        </div>
                    </div>
                    <div id="right-title" class="col-xs-12 col-sm-12 col-md-3">
                        <!--历史数据展示-->
                        <div class="data-box1" id="box_historyData">
                            <i class="topL"></i>
                            <i class="topR"></i>
                            <i class="bottomL"></i>
                            <i class="bottomR"></i>
                            <div class="data-title">
                                <b class="data-title-left">[</b>
                                <span>历史交易数据</span>
                                <b class="data-title-right">]</b>
                            </div>
                            <div class="box-echart" style="height: 160px;">
                                <div class="total-mn">
                                    <ul class="live-box" id="his-recharge">
                                        <li style="margin-right: 2%;">
                                            <p style="text-align: center;font-size: 14px;margin-bottom: 20px;">充值金额(万元)</p>
                                            <p class="live-box-font1" style="text-align: center">
                                                <span style="font-size: 3rem;" id="totreamt" th:text="${#numbers.formatDecimal(totRecharge.amt/10000, 1, 0)}">549462</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p style="text-align: center;font-size: 14px;margin-bottom: 20px;">充值笔数(万笔)</p>
                                            <p class="live-box-font1" style="text-align: center">
                                                <span style="font-size: 3rem;" id="totrecnt" th:text="${#numbers.formatDecimal(totRecharge.cnt/10000, 1, 0)}">80%</span>
                                            </p>
                                        </li>
                                    </ul>
                                    <ul class="live-box" id="his-pay">
                                        <li style="margin-right: 2%;">
                                            <p style="text-align: center;font-size: 14px;margin-bottom: 20px;">消费金额(万元)</p>
                                            <p class="live-box-font1" style="text-align: center">
                                                <span style="font-size: 3rem;" id="totpayamt" th:text="${#numbers.formatDecimal(totPay.amt/10000, 1, 0)}">549462</span>
                                            </p>
                                        </li>
                                        <li>
                                            <p style="text-align: center;font-size: 14px;margin-bottom: 20px;">消费笔数(万笔)</p>
                                            <p class="live-box-font1" style="text-align: center">
                                                <span style="font-size: 3rem;" id="totpaycnt" th:text="${#numbers.formatDecimal(totPay.cnt/10000, 1, 0)}">80%</span>
                                            </p>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                        <div class="data-box1" style="margin-top: 30px;">
                            <i class="topL"></i>
                            <i class="topR"></i>
                            <i class="bottomL"></i>
                            <i class="bottomR"></i>
                            <div class="data-title" >
                                <b class="data-title-left">[</b>
                                <span>浴室消费走势</span>
                                <b class="data-title-right">]</b>
                            </div>
                            <div id="bathAnalyse" class="box-echart">
                            </div>
                        </div>

                        <div class="data-box1" id="box04" style="margin-top: 30px;">
                            <i class="topL"></i>
                            <i class="topR"></i>
                            <i class="bottomL"></i>
                            <i class="bottomR"></i>
                            <div class="data-title" style="width: 200px">
                                <b class="data-title-left">[</b>
                                <span>商户排行Top5</span>
                                <b class="data-title-right">]</b>
                            </div>
                            <div id="shopTop5" class="box-echart">
                            </div>
                        </div>

                    </div>
                </div>
                <!--asad-->
            </div>
        </div>

    </div>

    <!-- JavaScript -->
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js" th:href="@{bootstrap/js/bootstrap.min.js}" ></script>
    <script type="text/javascript" src="js/echarts.min.js" th:href="@{js/echarts.min.js}" ></script>
    <script type="text/javascript" src="js/dark.js" th:href="@{js/dark.js}" ></script>
    <script th:inline="javascript">
        var ctx=[[${#httpServletRequest.getContextPath()}]];
        $(document).ready(function() {

            mainFunc();
            //每10秒当日刷新
            setInterval(function () {
                refreshData();
            },10*1000);
            //6小时全局刷新
            setInterval(function () {
                refreshHisData();
            },6*60*60*1000);
        });

        function refreshData() {
            var url = ctx+"/refreshData";
            $.ajax({
                type:'GET',
                url:encodeURI(url),
                success:function(data){
                    if (data!=null) {
                        //console.log(data);
                        //console.log(data.dayPay);
                        $("#reamt").text(data.dayRecharge.amt);
                        $("#recnt").text(data.dayRecharge.cnt);
                        $("#payamt").text(data.dayPay.amt);
                        $("#paycnt").text(data.dayPay.cnt);
                        //当日消费按客户类别分析
                        var dayCustType = data.dayCustType;
                        var custTypeRate = [];
                        var custTypeFillData = [];
                        for (var i = 0; i < dayCustType.length; i++) {
                            custTypeFillData.push({
                                name: dayCustType[i]["ext"],
                                value: dayCustType[i]["amt"]
                            });
                            custTypeRate.push(dayCustType[i]["ext"]);
                        }
                        dayCustTypeAnalyse(custTypeRate, custTypeFillData);

                        //人流量统计
                        var dayAnalyseBy10Min = data.dayAnalyseBy10Min;
                        var stime = [];
                        var payCnt = [];
                        var tmp = '';
                        for (var i = 0; i < dayAnalyseBy10Min.length; i++) {
                            tmp = dayAnalyseBy10Min[i]["ext"].substring(0, 2) + ":" + dayAnalyseBy10Min[i]["ext"].substring(2, 4)
                            stime.push(tmp);
                            payCnt.push(dayAnalyseBy10Min[i]["cnt"]);
                        }
                        dayAnalyse10Min(stime, payCnt);
                    }
                }
            })
        };

        function refreshHisData() {
            var url = ctx+"/refreshHisData";
            $.ajax({
                type:'GET',
                url:encodeURI(url),
                success:function(data){
                    if (data!=null) {
                        $("#totreamt").text(data.totRecharge.amt);
                        $("#totrecnt").text(data.totRecharge.cnt);
                        $("#totpayamt").text(data.totPay.amt);
                        $("#totpaycnt").text(data.totPay.cnt);
                        //近一个月充值消费走势
                        var inAnalyse = data.inAnalyse;
                        var dates = [];
                        var inData = [];
                        for (var i = 0; i < inAnalyse.length; i++) {
                            dates.push(inAnalyse[i]["accdate"]);
                            inData.push(inAnalyse[i]["amt"]);
                        }
                        var outAnalyse = data.outAnalyse;
                        var outData = [];
                        for (var i = 0; i < outAnalyse.length; i++) {
                            outData.push(outAnalyse[i]["amt"]);
                        }
                        inOutAnalyse(dates,inData,outData);

                        //一个月分餐消费走势
                        var mealAnalyse = data.mealAnalyse;
                        var mealDates = [];
                        var amt1 = [];
                        var amt2 = [];
                        var amt3 = [];
                        var amt4 = [];
                        for (var i = 0; i < mealAnalyse.length; i++) {
                            mealDates.push(mealAnalyse[i]["accdate"]);
                            amt1.push(mealAnalyse[i]["amt_1"]);
                            amt2.push(mealAnalyse[i]["amt_2"]);
                            amt3.push(mealAnalyse[i]["amt_3"]);
                            amt4.push(mealAnalyse[i]["amt_4"]);
                        };
                        mealAnalyseee(mealDates,amt1,amt2,amt3,amt4);

                        var shopTop = data.shopTop5;
                        var shopname = [];
                        var shopamt = [];
                        for (var i = 0; i < shopTop.length; i++) {
                            shopname.push(shopTop[i]["shopname"]);
                            shopamt.push(shopTop[i]["amt"]);
                        };
                        shopTop5(shopname,shopamt);

                        //浴室消费
                        var bathData = data.bathAnalyse;
                        var bathDate=[];
                        var bathAmt = [];
                        for (var i = 0; i < bathData.length; i++) {
                            bathDate.push(bathData[i]["accdate"]);
                            bathAmt.push(bathData[i]["amt"]);
                        }
                        bathAnalyse(bathDate,bathAmt);
                    }
                }
            })
        };

        function mainFunc() {
            dayMain();
            historyMain();
        }
        
        function dayMain() {
            //当日消费按客户类别分析
            var dayCustType = [[${dayCustType}]];
            var custTypeRate = [];
            var custTypeFillData = [];
            for (var i = 0; i < dayCustType.length; i++) {
                custTypeFillData.push({
                    name: dayCustType[i]["ext"],
                    value: dayCustType[i]["amt"]
                });
                custTypeRate.push(dayCustType[i]["ext"]);
            }
            dayCustTypeAnalyse(custTypeRate,custTypeFillData);

            //人流量统计
            var dayAnalyseBy10Min = [[${dayAnalyseBy10Min}]];
            var stime=[];
            var payCnt = [];
            var tmp='';
            for (var i = 0; i < dayAnalyseBy10Min.length; i++) {
                tmp = dayAnalyseBy10Min[i]["ext"].substring(0,2)+":"+dayAnalyseBy10Min[i]["ext"].substring(2,4)
                stime.push(tmp);
                payCnt.push(dayAnalyseBy10Min[i]["cnt"]);
            }
            dayAnalyse10Min(stime,payCnt);

        };
        function historyMain() {
            //近一个月充值消费走势
            var inAnalyse = [[${inAnalyse}]];
            var dates = [];
            var inData = [];
            for (var i = 0; i < inAnalyse.length; i++) {
                dates.push(inAnalyse[i]["accdate"]);
                inData.push(inAnalyse[i]["amt"]);
            }
            var outAnalyse = [[${outAnalyse}]];
            var outData = [];
            for (var i = 0; i < outAnalyse.length; i++) {
                outData.push(outAnalyse[i]["amt"]);
            }
            inOutAnalyse(dates,inData,outData);

            //一个月分餐消费走势
            var mealAnalyse = [[${mealAnalyse}]];
            var mealDates = [];
            var amt1 = [];
            var amt2 = [];
            var amt3 = [];
            var amt4 = [];
            for (var i = 0; i < mealAnalyse.length; i++) {
                mealDates.push(mealAnalyse[i]["accdate"]);
                amt1.push(mealAnalyse[i]["amt_1"]);
                amt2.push(mealAnalyse[i]["amt_2"]);
                amt3.push(mealAnalyse[i]["amt_3"]);
                amt4.push(mealAnalyse[i]["amt_4"]);
            };
            mealAnalyseee(mealDates,amt1,amt2,amt3,amt4);

            var shopTop = [[${shopTop5}]];
            var shopname = [];
            var shopamt = [];
            for (var i = 0; i < shopTop.length; i++) {
                shopname.push(shopTop[i]["shopname"]);
                shopamt.push(shopTop[i]["amt"]);
            };
            shopTop5(shopname,shopamt);

            //浴室消费
            var bathData = [[${bathAnalyse}]];
            var bathDate=[];
            var bathAmt = [];
            for (var i = 0; i < bathData.length; i++) {
                bathDate.push(bathData[i]["accdate"]);
                bathAmt.push(bathData[i]["amt"]);
            }
            bathAnalyse(bathDate,bathAmt);
        }
        /**
         * 当天消费按人员类别统计
         */
        function dayCustTypeAnalyse(legendData,fillData){
            var myCharttd = echarts.init(document.getElementById('dayCustTypeAnalyse'),"dark");
            var tdoption = {
                backgroundColor: '', //设置无背景色
                series : [
                    {
                        type: 'pie',
                        radius : '70%',
                        center: ['50%', '50%'],
                        label: {
                            normal: {
                                formatter: '{b}:{d}%',
                            }
                        },
                        data: fillData,
                        itemStyle: {
                            emphasis: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            }
            myCharttd.setOption(tdoption);
            setInterval(function () {
                myCharttd.setOption(tdoption, true);
            },30000);
        }

        function dayAnalyse10Min(stime,data){
            var myCharttd = echarts.init(document.getElementById('dayAnalyse10Min'),"dark");

            var tdoption = {
                backgroundColor:'', //设置无背景色
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    top: '15%',
                    containLabel: true
                },
                tooltip: {
                    trigger: 'axis'
                },
                xAxis: {
                    name:'时间',
                    type: 'category',
                    boundaryGap: false,
                    data: stime,
                },
                yAxis: {
                    name:'人次',
                    type: 'value'
                },

                series: [
                    {
                        name:'人流量',
                        type:'line',
                        smooth: true,
                        data:data,
                        markPoint: {
                            data: [
                                {type: 'max', name: '最大值'},
                                {type: 'min', name: '最小值'}
                            ]
                        },
                    },
                ]
            };

            myCharttd.setOption(tdoption,true);


        };


        function inOutAnalyse(dates,inData,outData){
            var myCharttd = echarts.init(document.getElementById('inOutAnalyse'),"dark");

            var tdoption = {
                backgroundColor:'', //设置无背景色
                legend: {
                    data:['充值','消费']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                tooltip: {
                    trigger: 'axis'
                },
                xAxis: {
                    name:'日期',
                    type: 'category',
                    boundaryGap: false,
                    data: dates,
                },
                yAxis: {
                    name:'金额(元)',
                    type: 'value'
                },

                series: [
                    {
                        name:'充值',
                        type:'line',
                        smooth: true,
                        data:inData,
                        markPoint: {
                            data: [
                                {type: 'max', name: '最大值'},
                                {type: 'min', name: '最小值'}
                            ]
                        },
                    },
                    {
                        name:'消费',
                        type:'line',
                        smooth: true,
                        data:outData,
                        markPoint: {
                            data: [
                                {type: 'max', name: '最大值'},
                                {type: 'min', name: '最小值'}
                            ]
                        },
                    },
                ]
            };

            myCharttd.setOption(tdoption);
            setInterval(function () {
                myCharttd.setOption(tdoption, true);
            },60*60*1000);

        };

        function mealAnalyseee(mealDates,amt1,amt2,amt3,amt4){
            var myCharttd = echarts.init(document.getElementById('mealAnalyse'),"dark");
            var tdoption = {
                backgroundColor:'', //设置无背景色
                legend: {
                    data:['早餐','午餐','晚餐','夜宵']
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                tooltip: {
                    trigger: 'axis'
                },
                xAxis: {
                    name:'日期',
                    type: 'category',
                    boundaryGap: false,
                    data: mealDates,
                },
                yAxis: {
                    name:'金额(元)',
                    type: 'value'
                },

                series: [
                    {
                        name:'早餐',
                        type:'line',
                        smooth: true,
                        data:amt1
                    },
                    {
                        name:'午餐',
                        type:'line',
                        smooth: true,
                        data:amt2
                    },
                    {
                        name:'晚餐',
                        type:'line',
                        smooth: true,
                        data:amt3
                    },
                    {
                        name:'夜宵',
                        type:'line',
                        smooth: true,
                        data:amt4
                    },
                ]
            };

            myCharttd.setOption(tdoption);
            setInterval(function () {
                myCharttd.setOption(tdoption, true);
            },60*60*1000);

        };

        function shopTop5(shopname,shopamt){
            var myCharttd = echarts.init(document.getElementById('shopTop5'),"dark");
            var tdoption = {
                backgroundColor: '', //设置无背景色

                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'shadow'
                    }
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    top: '10%',
                    containLabel: true
                },
                tooltip: {
                    trigger: 'axis'
                },
                xAxis: {
                    type: 'value',
                    boundaryGap: [0, 0.01]
                },
                yAxis: {
                    type: 'category',
                    data: shopname
                },
                series: [
                    {
                        name: '营业额',
                        type: 'bar',
                        label: {
                            normal: {
                                show: true,
                                position: 'inside'
                            }
                        },
                        data: shopamt
                    }
                ]
            }
            myCharttd.setOption(tdoption);
            setInterval(function () {
                myCharttd.setOption(tdoption, true);
            },60*60*1000);

        };

        function bathAnalyse(sdate,amt){
            var myCharttd = echarts.init(document.getElementById('bathAnalyse'),"dark");

            var tdoption = {
                backgroundColor:'', //设置无背景色
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    top: '15%',
                    containLabel: true
                },
                tooltip: {
                    trigger: 'axis'
                },
                xAxis: {
                    name:'日期',
                    type: 'category',
                    boundaryGap: false,
                    data: sdate,
                },
                yAxis: {
                    name:'金额',
                    type: 'value'
                },

                series: [
                    {
                        name:'浴室消费',
                        type:'line',
                        smooth: true,
                        data:amt,
                        markPoint: {
                            data: [
                                {type: 'max', name: '最大值'},
                                {type: 'min', name: '最小值'}
                            ]
                        },
                    },
                ]
            };

            myCharttd.setOption(tdoption);
            setInterval(function () {
                myCharttd.setOption(tdoption, true);
            },60*60*1000);


        };

    </script>

</body>
</html>
